CryptoClient/Connected Services/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="basicHttpStream_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57798/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57798/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57798/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:57798/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CryptoService" />
      <xsd:import schemaLocation="http://localhost:57798/Service.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_DownloadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="IService_DownloadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="FileUploadMessage">
    <wsdl:part name="parameters" element="tns:FileUploadMessage" />
  </wsdl:message>
  <wsdl:message name="FileUploadMessage_Headers">
    <wsdl:part name="Metadata" element="tns:Metadata" />
  </wsdl:message>
  <wsdl:message name="UploadFileResponse">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:ListFiles" />
  </wsdl:message>
  <wsdl:message name="IService_ListFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EncryptText_InputMessage">
    <wsdl:part name="parameters" element="tns:EncryptText" />
  </wsdl:message>
  <wsdl:message name="IService_EncryptText_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncryptTextResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DecryptText_InputMessage">
    <wsdl:part name="parameters" element="tns:DecryptText" />
  </wsdl:message>
  <wsdl:message name="IService_DecryptText_OutputMessage">
    <wsdl:part name="parameters" element="tns:DecryptTextResponse" />
  </wsdl:message>
  <wsdl:message name="EncryptFileMessage">
    <wsdl:part name="parameters" element="tns:EncryptFileMessage" />
  </wsdl:message>
  <wsdl:message name="EncryptFileMessage_Headers">
    <wsdl:part name="MetaData" element="tns:MetaData" />
  </wsdl:message>
  <wsdl:message name="EncryptFileResponse">
    <wsdl:part name="parameters" element="tns:EncryptFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DownloadFile" message="tns:IService_DownloadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DownloadFileResponse" message="tns:IService_DownloadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UploadFile" name="FileUploadMessage" message="tns:FileUploadMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UploadFileResponse" name="UploadFileResponse" message="tns:UploadFileResponse" />
    </wsdl:operation>
    <wsdl:operation name="ListFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ListFiles" message="tns:IService_ListFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ListFilesResponse" message="tns:IService_ListFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteFile" message="tns:IService_DeleteFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteFileResponse" message="tns:IService_DeleteFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EncryptText">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EncryptText" message="tns:IService_EncryptText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EncryptTextResponse" message="tns:IService_EncryptText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DecryptText">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DecryptText" message="tns:IService_DecryptText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DecryptTextResponse" message="tns:IService_DecryptText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Encrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Encrypt" name="EncryptFileMessage" message="tns:EncryptFileMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EncryptResponse" name="EncryptFileResponse" message="tns:EncryptFileResponse" />
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Decrypt" name="EncryptFileMessage" message="tns:EncryptFileMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DecryptResponse" name="EncryptFileResponse" message="tns:EncryptFileResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicHttpStream" type="tns:IService">
    <wsp:PolicyReference URI="#basicHttpStream_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/IService/DownloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IService/UploadFile" style="document" />
      <wsdl:input name="FileUploadMessage">
        <soap:header message="tns:FileUploadMessage_Headers" part="Metadata" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UploadFileResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListFiles">
      <soap:operation soapAction="http://tempuri.org/IService/ListFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncryptText">
      <soap:operation soapAction="http://tempuri.org/IService/EncryptText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptText">
      <soap:operation soapAction="http://tempuri.org/IService/DecryptText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Encrypt">
      <soap:operation soapAction="http://tempuri.org/IService/Encrypt" style="document" />
      <wsdl:input name="EncryptFileMessage">
        <soap:header message="tns:EncryptFileMessage_Headers" part="MetaData" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EncryptFileResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <soap:operation soapAction="http://tempuri.org/IService/Decrypt" style="document" />
      <wsdl:input name="EncryptFileMessage">
        <soap:header message="tns:EncryptFileMessage_Headers" part="MetaData" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EncryptFileResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="basicHttpStream" binding="tns:basicHttpStream">
      <soap:address location="http://localhost:57798/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>