CryptoClient/Connected Services/ServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CryptoService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CryptoService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FileMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileMetaData" nillable="true" type="tns:FileMetaData" />
  <xs:complexType name="EncryptTextMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Algorithm" type="tns:AlgorithmType" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FKeyA52" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IV" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="P" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Q" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptTextMessage" nillable="true" type="tns:EncryptTextMessage" />
  <xs:simpleType name="AlgorithmType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RC4" />
      <xs:enumeration value="RC4CTR" />
      <xs:enumeration value="A52" />
      <xs:enumeration value="A52CTR" />
      <xs:enumeration value="RSA" />
      <xs:enumeration value="TigerHash" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AlgorithmType" nillable="true" type="tns:AlgorithmType" />
  <xs:complexType name="AlgorithmProperties">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IV" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="AlgorithmType" type="tns:AlgorithmType" />
      <xs:element minOccurs="0" name="FKeyA52" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Q" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlgorithmProperties" nillable="true" type="tns:AlgorithmProperties" />
</xs:schema>